@layer utilities {
  .wave::after {
    content: "";
    position: absolute;
    background-image: url("../../../../assets/images/event-scheduler/img_ondas02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
}