@import "tailwindcss";

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cookie';
  src: url('./assets/fonts/Cookie-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aplicación global (opcional) */
body {
  font-family: 'Open Sans', sans-serif;
}

span {
    font-family: 'Open Sans Light', sans-serif;
}